* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  margin-bottom: 50px;
}

body {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  margin: 0;
  padding: 0;

  color: #fff;
  background-color: #000000;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 20px;
}

footer {
  margin-top: 50px;
}

footer a {
  color: #fff;
}
footer a:hover {
  color: #cecece;
}
